<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to "Roman", root_path, class: 'nav-link' %></h3>
    <nav class="nav nav-masthead">
      <%= nav_helper %>        
    </nav>
  </div>
</div>






